* {
     margin: 0px;
     padding: 0%;
     box-sizing: border-box;
     font-family: cursive;
}

main {
     background-color: white;
}

section {
     position: relative;
     height: 425px;
}

#logo {
     width: 10%;
     height: 10%;
     position: relative;
     bottom: 8px;
     margin-left: 5%;
     margin-top: 5%;
}

#img1 {
     position: relative;
     top: 8%;
     left: 1%;
     width: 96vw;
     height: 350px;
}

#hockey1 {
     width: 50%;
     height: 70%;
     position: absolute;
     bottom: 75px;
     left: 90%;
     border: solid rgb(44, 118, 255)
}

#hockey2 {
     width: 45%;
     height: 45%;
     position: relative;
     margin-left: 15%;
     border: solid rgb(44, 118, 255)
}

#hockey3 {
     width: 45%;
     height: 45%;
     position: relative;
     bottom: 110px;
     left: 50%;
     border: solid rgb(44, 118, 255)
}

h2 {
     text-align: center;
     font-size: 150%;
     border: solid rgb(44, 118, 255);
     border-width: 3px;
     background-color: rgb(44, 118, 255);
}

div {
     display: inline-block;
     position: absolute;
     left: 20%;
     margin-top: 5%;
}

h1 {
     text-align: left;
     letter-spacing: 11px;
     font-size: 45px;
     font-weight: bold;
}

p {
     text-indent: 20px;
     margin-bottom: 2em;
     text-align: justify;
     text-justify: inter-word;
     margin-right: 15em;
}

nav {
     position: absolute;
     left: 75%;
     top: 5%;
     z-index: 1;
     padding-top: 30px;
}

#Home {
     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(0, 211, 0);
     text-align: center;
     cursor: pointer;
     color: white;
}

#About {
     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(44, 118, 255);
     text-align: center;
     cursor: pointer;
     color: white;
}


#Contact {
     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(44, 118, 255);
     text-align: center;
     cursor: pointer;
     color: white;
}

header {
     padding-top: 30px;
}

#Home_a {

     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(44, 118, 255);
     text-align: center;
     cursor: pointer;
     color: white;
}

#About_a {

     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(0, 211, 0);
     text-align: center;
     cursor: pointer;
     color: white;
}

#Contact_a {

     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(44, 118, 255);
     text-align: center;
     cursor: pointer;
     color: white;
}


#Home_b {

     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(44, 118, 255);
     text-align: center;
     cursor: pointer;
     color: white;
}

#About_b {

     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(44, 118, 255);
     text-align: center;
     cursor: pointer;
     color: white;
}

#Contact_b {

     padding: 5px 20px;
     display: inline-block;
     background-color: rgb(0, 211, 0);
     text-align: center;
     cursor: pointer;
     color: white;
}